body {
  background-color: #282828;
  font-family: 'Trebuchet MS';
}

#random {
  display: inline;
}

img {
  height: 225px;
}

#search, #trending {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#form {
  display: block;
  text-align: center;
  border-left: 3px solid white;
  border-right: 3px solid white;
  /*border-bottom: 3px solid #008964;*/
  margin-top: 0;
  background: linear-gradient(#282828, #008964, #008964, #282828);
  border-radius: 9px;
}

input {
  width: 200px;
  border-radius: 15px;
  padding-left: 10px;
}


form {
  display: inline-block;
}

p {
  display: inline-block;
  margin: 0;
  color: #282828;
  font-size: 90%;
}

#left, #center, #right {
  background: linear-gradient(#282828, #008964, #008964, #282828);
  width: 33%;
}

#left {
  letter-spacing: 3px;
  float: left;
}
#logo {
  height: 15px;
  padding-top: 3px;
}
#title {
  color: white;
}

#center {
  display: inline-block;
}

#right {
  float: right;
}



button {
  background-color: #282828;
  border: 2px solid #282828;
  padding-left: 10px;
  padding-right: 10px;
  color: #008964;
}
button:hover {
  color: #282828;
  background: linear-gradient(#282828, #008964, #282828);
}
*:focus {
  outline: none;
}

a{
  text-decoration: none;
  color: inherit;
}
