body {
  background-color: #282828;
  font-family: 'Trebuchet MS';

}

#random {
  display: inline;
}

img {
  height: 300px;
}

#search {
  display: inline-block;
  margin: 0;
  padding: 0;

}

#trending {
  display: inline-block;
  margin: 0;
  padding: 0;

}

#form {
  display: block;
  text-align: center;
  background-color: #008964;
  border-left: 3px solid white;
  border-right: 3px solid white;
  /*border-bottom: 3px solid #008964;*/
  margin-top: 0;
  background: linear-gradient(#282828, #008964, #008964, #282828);
  border-radius: 7px;




}

input {
  width: 200px;
  border-radius: 15px;
  padding-left: 10px;
}


form {
  display: inline-block;
}

p {
  display: inline-block;
  margin: 0;
  color: #282828;
  font-size: 90%;
}


#center {
  letter-spacing: 3px;
  float: left;
  width: 33%;
  background-color: #008964;
  /*font-family: 'Trebuchet MS';*/
  background: linear-gradient(#282828, #008964, #008964, #282828);


}

#right {
  display: inline-block;
  width: 33%;
  background: linear-gradient(#282828, #008964, #008964, #282828);

}

#title {
  color: white;
}

#left {
  float: right;
  width: 33%;
  background: linear-gradient(#282828, #008964, #008964, #282828);

}

button {
  background-color: #282828;
  border: 2px solid #282828;
  padding-left: 10px;
  padding-right: 10px;
  color: #008964;
}

button:hover {
  color: #282828;
  background: linear-gradient(#282828, #008964, #282828);


}

*:focus {
  outline: none;
}

#logo {
  height: 15px;
  padding-top: 3px;
}
